// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #3457DC
$secondary = #E93A57
$accent    = #E5E5E5

$secondary-text-color = #637DE1

$dark      = #00160A

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

@import '~quasar-variables-styl'
